h1 {
	color: darkorange; 
	font-size: 15px;
}

h2{
	font-size: 20px;
}

/*Universal*/
* {
	font-family: 'Verdana', sans-serif;
	font-size: 10px;

}

/*ID Selector*/
#bootcamp-learning-list {
	text-transform: uppercase;

	font-size: 10px;
}

/*Class Selector*/
.offering-lang {
	background-color: lightgoldenrodyellow;
}

/*Attribute Selector*/


li[id] {
	border-style: solid;
  border-width: 1.5px;
  border-color: coral; 
}

/*adjacent sibling selector  */
img + ul {
	letter-spacing: 8px;
	list-style-type: none;
}


/*descendant selector*/

#image-js img {
	width: 100px;
	height: 100px;
	border-radius: 50px;
}

/*Child Selector*/
body > section > h4 {
	letter-spacing: 2px;
}


/*General Sibling Selector*/
/*selector ~ selector*/

ul ~ footer {
		text-align: center;
		color: darkorange;
		font-size: 10px;
}
